* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 100%;
    max-width: calc(100% - 12px);
    margin: 0 auto;
}

/* Comon */
a {
    text-decoration: none;
}

/* Info-header */
.info-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info__list {
    display: flex;
}

.info__link {
    position: relative;
    padding: 4px 8px;
    color: black;
    font-weight: 500;
}

.info__link::before {
    position: absolute;
    content: "";
    display: inline-block;
    height: 8px;
    width: 2px;
    top: -3px;
    left: 0;
    bottom: 0;
    background-color: black;
}
