* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* Header__top1 */
header {
    padding: 20px 0;
    background-color: #f8f9fa;
}

.header__top1 {
    display: flex;
    justify-content: space-between;
}

.navbar__top1 {
    display: flex;
    column-gap: 20px;
}

.contact {
    display: flex;
    column-gap: 10px;
}

/* Header__top2 */
.header__top2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #f8f9fa;
}

.chart__img {
    width: 44px;
    height: 44px;
}

.Icon__shop {
    display: flex;
    column-gap: 20px;
}
