* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1900px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.navbar {
    background-color: #00246b;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar-menu li a:hover {
    color: #00adef;
}

.navbar-contact a {
    background-color: white;
    color: #00246b;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-contact a:hover {
    background-color: #00adef;
    color: white;
}
